* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: rgba(161, 138, 241, 1);
  --bg-url: url(./assets/bg-mobileB.jpg);
  --stroke-cor: rgba(101, 59, 246, 0.5);
  --bg-cor: rgba(52, 33, 115, 0.5);
  --bg-corNoAlpha: rgba(52, 33, 115, 1);
  --bg-hover: rgba(101, 59, 246, 0.5);
  --stroke-hover: rgba(101, 59, 246, 1);
  --switch-bg-url: url(./assets/moon-stars.svg);
  --switch-bg-cor: rgba(101, 59, 246, 0.3);
  --switch-bgSpan-cor: rgba(101, 59, 246, 1);
}

.light {
  --text-color: rgba(52, 33, 115, 1);
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-cor: rgba(52, 33, 115, 0.5);
  --bg-cor: rgba(52, 33, 115, 0.1);
  --bg-corNoAlpha: rgba(52, 33, 115, 1);
  --bg-hover: rgba(101, 59, 246, 0.3);
  --stroke-hover: rgba(101, 59, 246, 1);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}
/*-------FORM EBOOK-------- */

#container {
  width: 360px;
  margin: 90px;
  padding: 50px 10px;
}

#profile {
  text-align: center;
  transform: translateY(0);
  padding: 0;
  margin: 0;
}

#profile img {
  /*border-radius: 50%;*/
  /* border: 2px solid rgba(255, 255, 255, 0.9);*/
  width: 250px;
}

#profile p {
  font-weight: 600;
  line-height: 24px;
  margin-top: 8px;
}
/*switch*/
#switch {
  transform: translateY(0px);
  position: relative;
  width: 64px;
  margin: 4px auto 2em;
}
#switch button {
  width: 32px;
  height: 32px;
  background: var(--switch-bgSpan-cor) var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  animation: slide-back 0.4s;
}

.light #switch button {
  animation: slide-in 0.4s forwards;
}

#switch button:hover {
  outline: 6px solid var(--bg-hover);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--switch-bg-cor);
  border: 1px solid var(--switch-bgSpan-cor);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* color no root --bg-corNoAlpha: rgba(52, 33, 115, 1); */

/* Texto destaque Titulo*/

.ebookTextosP {
  font-size: 25px;
  font-weight: 900;
  margin: 0 0 2em 0;
  padding: 0;
}
.conteinerForm {
  transform: translateY(-20px);
  max-width: 450px;
  border: 0.7px solid var(--stroke-cor);
  box-shadow: 7px 8px 8px var(--bg-cor);
  padding: 1em 2em 1em 2em;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  background-color: var(--bg-cor);
  border-radius: 5px;
}

.form-group {
  margin-bottom: 1em;
  transition: all 0.3s;
}

.form-label {
  font-size: 1em;
  color: var(--text-color);
  display: block;
  opacity: 1;
  transform: translateY(-1.25em);
  transform-origin: 0 0;
  transition: all 0.3s;
}

.form-control {
  box-shadow: none;
  background-color: var(--bg-url);
  border-color: var(--stroke-cor);
  border-style: none none solid none;
  width: 100%;
  transition: all.5s;
}
.form-control::placeholder {
  color: transparent;
}
.form-control:focus {
  box-shadow: none;
  outline: none;
  border-color: var(--stroke-hover);
}
.form-control:focus + .form-label,
.form-control:not(:placeholder-shown) + .form-label {
  transform: translateY(-2.5em) scale(0.8);
}

.form-group:focus-within {
  transform: scale(1.05, 1.05);
}

.form-mensagem {
  display: flex;
  padding: none;
}

#my-Text {
  width: 100%;
  height: 150px;
  outline: none;
  resize: none;
  background-color: var(--bg-cor);
  border-color: var(--stroke-hover);
  border-style: solid;
  border-radius: 5px;
}

#my-Text:is(:focus, :valid) {
}
#my-Text::-webkit-scrollbar {
  width: 0px;
}

.download-btn {
  background-color: DodgerBlue;
  color: white;
  width: 250px;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  text-decoration: none;
  border-radius: 5px;

  font-size: 30px;
  font-weight: bold;
  border: 1px var(--bg-hover);
  border-radius: 8px;
}

.download-btn:hover {
  background-color: RoyalBlue;
}

.voltar {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 0;
  padding: 5px;
  background: var(--bg-cor);
  border: 1px solid var(--stroke-cor);
  border-radius: 5px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 400;
  transition: background 0.9s;
}
.voltar:hover {
  padding: 8px, 20px;
  background: var(--bg-hover);
  border: 1px solid var(--stroke-hover);
  text-decoration: none;
  font-weight: 700;
  transition: background 0.9s;
}
/*social-links*/

#social-links {
  display: flex;
  justify-content: center;
  padding: 40px;
  font-size: 25px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  transition: background 0.9s;
  border-radius: 50%;
}

#social-links a:hover {
  font-size: 23px;
  background: var(--bg-hover);
}

footer {
  font-weight: 500;
  padding: none;
  text-align: center;
  font-size: 14px;
}

/* media queris */

@media (min-width: 800px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }
  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

/* animation */

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
